<div class="container-fluid" mt-0>
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <div class="row">
                <nav id="navbar" class="navbar navbar-expand-lg ">
                    <a id="name" class="navbar-brand" href="/">Moosam</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a id="navsup" class="nav-link" href="/">Home</a>
                            </li>
                            <li class="nav-item">
                                <a id="navsup" class="nav-link" href="/about">About us</a>
                            </li>
                            <li class="nav-item">
                                <a id="navsup" class="nav-link" href="/check">Weather</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>